<div class="row m-0 col-lg-12">
    <div class="col-lg-3">
        <img src="./assets/kiatnakin/image/login/icon_citizencard_topic.png">
    </div>
    <div class="col-lg-9">
        <label class="display-2 text-bold">Citizen ID Card & MyPIN</label>
        <br>
        <label class="display-5">กรุณาเสียบบัตรประชาชน และกรอกรหัสส่วนตัว MyPIN ของท่าน</label>
    </div>

    <div class="col-lg-12 text-center">

        <div *ngIf="(scanCode === '1000' || scanCode === '1003') && !readCard">
            <div class="col-lg-12 pt-4 m-0 text-center">
                <img src="./assets/kiatnakin/image/subscription/icon_id_card.png" />
            </div>
            <div class="col-lg-12 mt-3 display-4 text-center text-bold text-dark">
                กรุณาเสียบบัตรประจำตัวประชาชน
            </div>
        </div>

        <div *ngIf="(scanCode === '1103' || scanCode === '1109') && !readCard">
            <div class="col-lg-12 pt-5 m-0 text-center">
                <img class="loading" src="./assets/kiatnakin/image/loading.png" />
            </div>
            <div class="col-lg-12 mt-3 display-4 text-center text-bold text-dark">
                กรุณารอสักครู่
            </div>
            <div class="col-lg-12 display-5 text-center text-dark-black-gray text-italic text-bold">
                ระบบกำลังดึงข้อมูล
            </div>
        </div>

        <div *ngIf="scanCode === '0000' && !readCard">
            <div class="content row mt-10">
                <div class="col-lg-12 pt-5 m-0 text-center">
                    <img class="" src="./assets/kiatnakin/image/read_success.png" />
                </div>
                <div class="col-lg-12 mt-3 display-4 text-center text-bold text-dark">
                    อ่านข้อมูลสำเร็จ
                </div>
            </div>
        </div>

        <div *ngIf="(scanCode === '9105'  || scanCode === '1110' || scanCode === '9103' || scanCode === '9005') && !readCard">
            <div class="content row">
                <div class="col-lg-12 pt-5 m-0 text-center">
                    <img src="./assets/kiatnakin/image/read_false.png" />
                </div>
                <div class="col-lg-12 mt-3 display-4 text-center text-bold text-dark">
                    ไม่สามารถอ่านบัตรประชาชนได้
                </div>

                <div class="row col-lg-12 mt-3 text-center">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-blue text-center" (click)="requestReadSmartCard()">
                            กรุณาเสียบบัตรอีกครั้ง
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="readCard" class="row col-lg-12 mt-5  text-center">
        <div class="display-3 display-12 col-lg-12">
            {{ 'MyPIN' | translate }}
        </div>
        <div class="display-3 col-lg-12 mt-3">
            <input id="pin" type="text" name="security-dot" keyboard="pin" style="margin: 0 auto; width: 50%" class="text-center" maxlength="6" autocomplete="off"
                [(ngModel)]="userLogin.pin" (click)="getkeyboard()">
        </div>
        <div class="col-lg-12 text-center mt-4">
            <label class="text-blue">{{'CitizenID : '+textShow}}</label>
        </div>
    </div>

    <div *ngIf="readCard" class="col-lg-12 text-center mt-5">
        <button id="button_login" class="button-submit button-blue  display-3" type="submit" (click)="onClickLogin()" [disabled]="userLogin.pin.length < 6">
            <h2>{{ 'ok' | translate}}</h2>
        </button>
    </div>
</div>