<div id="container" class="container">
  <div class="body text-center">
    <label class="display-1 text-black">ตารางความเสี่ยง</label>
  </div>
  <div class="scroll" [innerHTML]="riskTable"></div>
</div>

<img
  src="./assets/kiatnakin/image/back_arrow.png"
  class="app-back-bottom"
  id="back"
  (click)="onClickBack()"
/>

<!-- <table>
  <tr class="header">
    <td colspan="3" style="text-align: center;">การวัดระดับความเสี่ยง</td>
  </tr>
  
  <tr class="tapHeader" style="border: 1px solid white !important;">
    <th width="20%">ระดับคะแนนสำหรับบุคคลธรรมดา</th>
    <th width="60%">ประเภทนักลงทุน</th>
    <th width="20%" class="tapHeaderBorder">ระดับความเสี่ยงของกองทุนที่สามารถลงทุนได้</th>
  </tr>

  <tr>
    <td width="20%">ต่ำกว่า 15</td>
    <td width="60%">แสดงว่าท่านเป็นนักลงทุนประเภท เสี่ยงต่ำ หมายความว่าท่านต้องการผลตอบแทนมากกว่าการฝากเงินธนาคารเล็กน้อยไม่ต้องการความเสี่ยง และมีวัตถุประสงค์การลงทุนในระยะสั้นๆ</td>
    <td width="20%">ระดับ 1</td>
  </tr>
  
  <tr>
    <td width="20%">15 - 21</td>
    <td width="60%">แสดงว่าท่านเป็นนักลงทุนประเภท เสี่ยงปานกลางค่อนข้างต่ำ หมายความว่าท่านเป็นผู้ลงทุนที่รับความเสี่ยงได้น้อยเน้นปกป้องเงินลงทุน โดยมุ่งหวังรายได้สม่ำเสมอ</td>
    <td width="20%">ระดับ 1-4</td>
  </tr>
  
  <tr>
    <td width="20%">22 - 29</td>
    <td width="60%">แสดงว่าท่านเป็นนักลงทุนประเภท เสี่ยงปานกลางค่อนข้างสูง หมายความว่าท่านสามารถยอมรับมูลค่าการลงทุนลดลงเป็นครั้งคราวได้</td>
    <td width="20%">ระดับ 1-5</td>
  </tr>
  
  <tr>
    <td width="20%">30-36</td>
    <td width="60%">แสดงว่าท่านเป็นนักลงทุนประเภท เสี่ยงสูง หมายความว่าท่านยอมรับความเสี่ยงได้สูง รับความผันผวนของตลาดได้และสามารถยอมรับการขาดทุนได้ โดยมุ่งหวังการเติบโตของเงินลงทุนและผลตอบแทนในระยะยาว</td>
    <td width="20%">ระดับ 1-7</td>
  </tr>
  
  <tr>
    <td width="20%">37 เป็นต้นไป</td>
    <td width="60%">แสดงว่าท่านเป็นนักลงทุนประเภท เสี่ยงสูงมาก หมายความว่าท่านต้องการได้รับโอกาสที่จะได้รับผลตอบแทนสูง ความเสี่ยงสูงและยอมรับการขาดทุนได้ใน significant portion</td>
    <td width="20%">ระดับ 1-8</td>
  </tr>
</table>

<br><br><br><br>

<table>
  <tr class="header">
    <td colspan="6" style="text-align: center;">คำแนะนำการจัดสรรการลงทุน (Basic Asset Allocation)</td>
  </tr>

  <tr>
    <td colspan="6">การจัดสรรและกำหนดสัดส่วนการลงทุนที่เหมาะสม (Basic Asset Allocation) คือ การจัดสรรแบ่งเงินลงทุนไปลงในสินทรัพย์ประเภทต่างๆ เช่น ตราสารหนี้, ตราสารทุนและการลงทุนทางเลือก เป็นต้น โดยวัตถุประสงค์หลักของการจัดสรรและกำหนดสัดส่วนการลงทุนที่เหมาะสม (Basic Asset Allocation) นั้นเป็นการสร้างโอกาสของผลตอบแทนที่เหมาะสมกับระดับความเสี่ยงที่ผู้ลงทุนยอมรับได้ โดยเน้นการลงทุนในหลายสินทรัพย์ เพื่อให้ได้รับประโยชน์จากการกระจายความเสี่ยง</th>
  </tr>

  <tr class="tapHeader">
    <th colspan="1" rowspan="2">ประเภทนักลงทุน</th>
    <th colspan="5" class="tapHeaderBorder">สัดส่วนการลงทุน</th>
  </tr>

  <tr class="tapHeader tapHeaderTH">
    <th>เงินฝาก และ ตราสารหนี้ระยะสั้น</th>
    <th>ตราสารหนี้ภาครัฐที่มีอายุ > 1 ปี</th>
    <th>ตราสารหนี้เอกชน</th>
    <th>ตราสารทุน</th>
    <th style="border-right-color: rgb(0, 155, 201)!important;">การลงทุนทางเลือก*</th>
  </tr>

  <tr>
    <td>เสี่ยงต่ำ</td>
    <td colspan="2">>60%</td>
    <td>> 20%</td>
    <td>< 10%</td>
    <td>< 5%</td>
  </tr>

  <tr>
    <td>เสี่ยงปานกลางค่อนข้างต่ำ</td>
    <td>< 20%</td>
    <td colspan="2">< 70%</td>
    <td>< 20%</td>
    <td>< 10%</td>
  </tr>
  
  <tr>
    <td>เสี่ยงปานกลางค่อนข้างสูง</td>
    <td>< 10%</td>
    <td colspan="2">< 60%</td>
    <td>< 30%</td>
    <td>< 10%</td>
  </tr>
  
  <tr>
    <td>เสี่ยงสูง</td>
    <td>< 10%</td>
    <td colspan="2">< 40%</td>
    <td>< 40%</td>
    <td>< 20%</td>
  </tr>

  <tr>
    <td>เสี่ยงสูงมาก</td>
    <td>< 5%</td>
    <td colspan="2">< 30%</td>
    <td>< 60%</td>
    <td>< 30%</td>
  </tr>

  <tr>
    <td colspan="6">*รวมถึงสินค้าโภคภัณฑ์ สัญญาซื้อขายล่วงหน้า</td>
  </tr>
</table>

<br><br><br><br>

<table>
  <tr class="header">
    <td colspan="4" style="text-align: center;">ประเภทของกองทุนตามระดับความเสี่ยง</td>
  </tr>

  <tr class="tapHeader">
    <th colspan="1" rowspan="2">Risk Profile</th>
    <th colspan="1" rowspan="2">ระดับความเสี่ยงของกองทุน</th>
    <th colspan="2" class="tapHeaderBorder">ประเภทและกองทุนที่เหมาะสมตามระดับความเสี่ยง</th>
  </tr>

  <tr class="tapHeader">
    <th colspan="1">ประเภทกองทุน</th>
    <th colspan="1" class="tapHeaderBorder">นโยบาย/กรอบการลงทุน</th>
  </tr>

  <tr>
    <td>เสี่ยงต่ำ</td>
    <td>ระดับ 1</td>
    <td>กองทุนรวมตลาดเงินในประเทศ</td>
    <td>มีนโยบายลงทุนเฉพาะในประเทศไทย โดยลงทุนในหรือมีไว้ซึ่งเงินฝาก หรือ ตราสารหนี้ หรือ หลักทรัพย์ หรือ ทรัพย์สินอื่น หรือ การหาดอกผล อื่นตามที่สำนักงานกำหนด ซึ่งมีกำหนดชำระคืนเมื่อทวงถามหรือจะครบกำหนดชำระคืน หรือมีอายุสัญญาไม่เกิน 1 ปีนับแต่วันที่ลงทุน ในทรัพย์สินหรือเข้าทำสัญญานั้นและมี Portfolio Duration ในขณะใดขณะหนึ่งไม่เกิน 3 เดือน</td>
  </tr>

  <tr>
    <td rowspan="3" colspan="1">เสี่ยงปานกลางค่อนข้างต่ำ</td>
    <td>ระดับ 2</td>
    <td>กองทุนรวมตลาดเงิน</td>
    <td>มีนโยบายลงทุนในต่างประเทศบางส่วน แต่ไม่เกินร้อยละ 50 ของ NAV โดยลงทุนในหรือมีไว้ซึ่งเงินฝาก หรือ ตราสารหนี้ หรือ หลักทรัพย์ หรือ ทรัพย์สินอื่น หรือ การหาดอกผลอื่นตามที่สำนักงานกำหนด ซึ่งมีกำหนดชำระคืนเมื่อทวงถาม หรือจะครบกำหนดชำระคืน หรือมีอายุสัญญา ไม่เกิน 1 ปีนับแต่วันที่ลงทุนในทรัพย์สิน หรือเข้าท่าสัญญานั้น รวมทั้งมี Portfolio Duration ในขณะใดขณะหนึ่ง ไม่เกิน 3 เดือน</td>
  </tr>

  <tr>
    <td>ระดับ 3</td>
    <td>กองทุนรวมพันธบัตรรัฐบาล</td>
    <td>มีนโยบายเน้นลงทุนในพันธบัตรรัฐบาลเฉลี่ยรอบปีบัญชีไม่น้อยกว่าร้อยละ 80 ของ NAV</td>
  </tr>

  <tr>
    <td>ระดับ 4</td>
    <td>กองทุนรวมตราสารแห่งหนี้</td>
    <td>มีนโยบายลงทุนในตราสารหนี้ทั่วไปรวมถึงตราสารที่มีลักษณะของสัญญาซื้อขายล่วงหน้าแฝง (Structured Note) ที่คุ้นครองเงินต้น</td>
  </tr>

  <tr>
    <td rowspan="2" colspan="1">เสี่ยงปานกลางค่อนข้างสูง</td>
    <td>ระดับ 5</td>
    <td>กองทุนรวมผสม</td>
    <td>มีนโยบายลงทุนได้ทั้งในตราสารทุน และ ตราสารหนี้</td>
  </tr>

  <tr>
    <td>ระดับ 6</td>
    <td>กองทุนรวมตราสารแห่งทุน</td>
    <td>มีนโยบายลงทุนในตราสารทุนเป็นหลักโดยเฉลี่ยรอบปีบัญชีไม่น้อยกว่าร้อยละ 65 ของ NAV</td>
  </tr>

  <tr>
    <td>เสี่ยงสูง</td>
    <td>ระดับ 7</td>
    <td>กองทุนรวมหมวดอุตสาหกรรม</td>
    <td>มีนโยบาลมุ่งลงทุนโดยเฉพาะเจาะจงในตราสารทุนเพียงบางหมวดอุตสาหกรรม โดยเฉลี่ยรอบระยะเวลาบัญชีไม่น้อยกว่าร้อยละ 80 ของ NAV</td>
  </tr>

  <tr>
    <td>เสี่ยงสูงมาก</td>
    <td>ระดับ 8</td>
    <td>กองทุนรวมที่มีการลงทุนในสินทรัพย์ทางเลือก</td>
    <td>มีนโยบายมุ่งลงทุนในทรัพย์สินที่เป็นทางเลือกใหม่ในการลงทุนหรือมีโครงสร้างซับซ้อน เข้าใจยาก เช่น Commodity/Gold Fund/Oil Fund/Dericatives ที่ไม่ใช่เพื่อ Hedging ซึ่งรวมถึงตราสารที่มีลักษณะของสัญญาซื้อขายล่วงหน้าแฝงที่ไม่คุ้มครองเงินต้น</td>
  </tr>
</table> -->