.icon-bell
  position: fixed
  bottom: 0px
  right: 0px
  width: 187px
  height: 130px
  background: url("../../assets/kiatnakin/image/icon_callbell.png") no-repeat


.video-call-waiting
  position: fixed
  bottom: 11px
  right: 21px
  width: 215px
  height: 215px
  border-radius: 16px
  background: rgba(74, 74, 74, 0.9)
  padding: 15px 25px 0 25px
  .button-cancel-video
    position: fixed
    bottom: 17px
    width: 160px
    height: 60px
    img
      width: 40px

