<div *ngIf="checkSlipTransfer" class="text-center">
    <img class="p-0 printer_slip" src="./assets/kiatnakin/image/printer_slip.png">
    <div id="bg_slip" class="bg-slip">
        <img class="p-0 kk-logo" src="./assets/kiatnakin/image/logoKKgray.png">
        <div class="col-lg-12">
            <div class="row display-3 text-left col-lg-11 offset-1 mt-5 p-0">
                ใบบันทึกรายการ
            </div>
            <div class="row display-3 text-left col-lg-11 offset-1 p-0">Transaction Record</div>

            <div [ngSwitch]="transactionType">
                <div *ngSwitchCase="'statement-casa'" class="col-lg-12 p-0 ">
                    <div style="overflow-y: auto">
                        <div style="height: 450px;">
                            {{dataService.transaction | json}}
                        </div>
                    </div>

                </div>

                <div *ngSwitchCase="'statement-td'" class="col-lg-12 p-0 ">
                    <div style="overflow-y: auto">
                        <div style="height: 450px;">
                            {{dataService.transaction | json}}
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="'inthai'" class="col-lg-12 p-0 ">
                    <div style="overflow-y: auto">
                        <div style="height: 450px;">
                            {{dataService.transaction | json}}
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="'visa'" class="col-lg-12 p-0 ">
                    <div style="overflow-y: auto">
                        <div style="height: 450px;">
                            {{dataService.transaction | json}}
                        </div>
                    </div>
                </div>

                <div *ngSwitchDefault class="col-lg-12 p-0 mt-4">

                    <div class="row">
                        <div class="display-4 text-left col-lg-3 offset-1 text-bold">วันที่ / Date</div>
                        <div class="display-4 text-right col-lg-3 text-bold">เวลา / Time</div>
                        <div class="display-4 text-right col-lg-4 text-bold">ชื่อสาขา / Branch Name</div>
                    </div>

                    <div class="row">
                        <div class="display-4 text-left col-lg-3 offset-1">
                            {{ dataService.transaction.transactionDateTime.day }}
                        </div>
                        <div class="display-4 text-center col-lg-4">
                            {{ dataService.transaction.transactionDateTime.time }}
                        </div>

                        <div class="display-4 text-right col-lg-3" *ngIf="transactionType === 'Transfer'">
                            {{branchName}}
                        </div>

                        <div class="display-4 text-right col-lg-3" *ngIf="transactionType === 'Withdraw'">
                            {{ dataService.transaction.from.bank.shot_name }}
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="display-3 text-left col-lg-5 offset-1 text-bold">Terminal ID</div>
                        <div class="display-3 text-right col-lg-5 text-bold">Invoice No.</div>
                    </div>
                    <div class="row">
                        <div class="display-3 text-left col-lg-5 offset-1">E004B069045P010</div>
                        <div class="display-3 text-right col-lg-5">000400</div>
                    </div> -->


                    <div class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">ลำดับที่ / Seq.No.</div>
                        <div class="display-4 text-right col-lg-5 text-bold">ประเภทรายการ / Transaction Type</div>
                    </div>
                    <div class="row">
                        <div class="display-4 text-left col-lg-5 offset-1">{{referenceNo}}</div>
                        <div class="display-4 text-right col-lg-5">{{transactionType}}</div>
                    </div>

                    <div class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">จาก / From</div>
                        <div class="display-4 text-right col-lg-5 text-bold">ไปยัง / To</div>
                    </div>

                    <!--Transfer-->
                    <div class="row" *ngIf="transactionType === 'Transfer'">
                        <div class="display-4 text-left col-lg-5 offset-1">
                            {{dataService.transaction.from.accountNumber}}
                        </div>
                        <div class="display-4 text-right col-lg-5">
                            {{dataService.transaction.to.accountNumber}}
                        </div>
                    </div>
                    <div class="row"
                        *ngIf="(dataService.transaction.transactionType === 'CASA_CASA' || dataService.transaction.transactionType === 'CASA_Interbank') && dataService.transaction.from.custCif !== dataService.transaction.to.custCif ">
                        <div class="display-4 text-right col-lg-10 offset-1">
                            {{dataService.transaction.to.accountName}}
                        </div>
                    </div>
                    <!--Deposit-->
                    <div class="row" *ngIf="transactionType === 'Deposit'">
                        <div class="display-4 text-left col-lg-3 offset-1"
                            *ngIf="dataService.transaction.from.accountType == paymentType.Cash">
                            {{'cash'|translate}}
                        </div>
                        <div class="display-4 text-right col-lg-7"
                            *ngIf="dataService.transaction.to.accountType == paymentType.Cheque">
                            Check No.{{dataService.transaction.to.micrResult}} (KKB/{{branchCode}})
                        </div>
                        <div class="display-4 text-right col-lg-7">
                            {{dataService.transaction.to.accountNumber}}
                        </div>
                    </div>

                    <!--Withdraw-->
                    <div class="row" *ngIf="transactionType === 'Withdraw'">
                        <div class="display-4 text-left col-lg-5 offset-1">
                            {{dataService.transaction.from.accountNumber}}
                        </div>
                        <div class="display-4 text-right col-lg-5"
                            *ngIf="dataService.transaction.to.accountType == paymentType.Cash">
                            {{'Cash'}}
                        </div>
                        <div class="display-4 text-right col-lg-5"
                            *ngIf="dataService.transaction.to.accountType == paymentType.Cheque">
                            Check No.{{dataService.transaction.to.micrResult}} (KKB/{{branchCode}})
                        </div>
                    </div>

                    <!--Billpay-->
                    <div class="row" *ngIf="transactionType === 'Billpay'">
                        <div class="display-4 text-left col-lg-8 offset-1">
                            {{'Cash'}}
                        </div>
                        <div class="display-4 text-right col-lg-2">
                            {{'Bank'}}
                        </div>
                    </div>

                    <!--Investment-->
                    <div class="row" *ngIf="transactionType === 'Investment-Purchase'">
                        <div class="display-4 text-left col-lg-8 offset-1">
                            {{dataService.transaction.from.accountNumber}}
                        </div>
                        <div class="display-4 text-right col-lg-2">
                            {{dataService.transaction.selectedFund.FundCod}}
                        </div>
                    </div>
                    <div class="row" *ngIf="transactionType === 'Investment-Redeem'">
                        <div class="display-4 text-left col-lg-8 offset-1">
                            {{dataService.transaction.selectedFund.FundCod}}
                        </div>
                        <div class="display-4 text-right col-lg-2">
                            {{dataService.transaction.from.accountNumber}}
                        </div>
                    </div>

                    <div class="row" *ngIf="transactionType === 'Investment-Switch'">
                        <div class="display-4 text-left col-lg-8 offset-1">
                            {{dataService.transaction.selectedFund.FundCod}}
                        </div>
                        <div class="display-4 text-right col-lg-2">
                            {{dataService.transaction.selectedFundSwitchOut.FundCod}}
                        </div>
                    </div>

                    <!--Cheque-->
                    <div class="row" *ngIf="transactionType === 'Cheque'">
                        <div class="display-4 text-left col-lg-5 offset-1">
                            {{dataService.transaction.from.accountNumber}}
                        </div>
                        <div class="display-4 text-right col-lg-5"
                            *ngIf="dataService.transaction.to.accountType == paymentType.Cash">
                            {{'Cash'}}
                        </div>
                        <div class="display-4 text-right col-lg-5"
                            *ngIf="dataService.transaction.to.accountType == paymentType.Cheque">
                            Check No.{{dataService.transaction.to.micrResult}} (KKB/{{branchCode}})
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold"></div>
                        <div class="display-4 text-right col-lg-5 text-bold">
                            <span *ngIf="TDTermAndRate.length > 0">
                                Term / NetRate
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mt-2 display-4 text-left col-lg-5 offset-1" id="depNoLabel">
                            {{depNoLabel}}
                        </div>
                        <div class="display-4 text-right col-lg-5" id="TDTermAndRate">
                            {{TDTermAndRate}}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">วันที่ตัดเงิน / Debit Date</div>
                        <div class="display-4 text-right col-lg-5 text-bold">วันที่ได้รับเงิน / Credit Date</div>
                    </div>
                    <div class="row">
                        <div class="display-4 text-left col-lg-5 offset-1" id="debitDate">
                            {{debitDateLabel}}
                        </div>
                        <div class="display-4 text-right col-lg-5" id="creditDate">
                            {{creditDateLabel}}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">จำนวนเงิน / Amount (Baht)</div>
                        <div class="display-4 text-right col-lg-5 text-bold">ค่าธรรมเนียม / Fee (Baht)</div>
                    </div>
                    <div class="row">
                        <div class="display-4 text-left col-lg-5 offset-1" id="amount">
                            {{dataService.transaction.amount | number:'.2-2'}}
                        </div>
                        <div class="display-4 text-right col-lg-5" id="fee">
                            {{ dataService.transaction.fee.amount | number:'.2-2'}}
                        </div>
                    </div>

                    <div *ngIf="dataService.transaction.from.accountType !== TDType " class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">จำนวนเงินคงเหลือ</div>
                        <div class="display-4 text-right col-lg-5 text-bold">จำนวนเงินที่ใช้ได้</div>
                    </div>
                    <div *ngIf="dataService.transaction.from.accountType !== TDType " class="row">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">Ledger Balance</div>
                        <div class="display-4 text-right col-lg-5 text-bold">Available Balance</div>
                    </div>

                    <div *ngIf="dataService.transaction.from.accountType !== TDType " class="row">
                        <div class="display-4 text-left col-lg-5 offset-1 ">
                            {{dataService.transaction.balanceAvailable | number:'.2-2'}}
                        </div>
                        <div class="display-4 text-right col-lg-5 " id="avialable-balance">
                            {{dataService.transaction.accountDetailAvailBalanceNet | number:'.2-2'}}
                        </div>
                    </div>
                </div>

                <div class="mt-3 col-lg-10 offset-1" style="border-bottom: dashed 1px"></div>

                <div class="display-3 text-center col-lg-12 mt-3 text-italic" style="font-weight: bold">
                    {{ 'ต้องการพิมพ์ใบบันทึกรายการหรือไม่' }}
                </div>

                <div class="row text-center mt-3">

                    <div class="col-lg-4 offset-1">
                        <button id="printslip" class="btn-size-XL button-white text-blue border-blue"
                            (click)="onClickPrintSlip(true)">
                            <h2>{{ 'yes_reciept' | translate}}</h2>
                        </button>
                    </div>

                    <div class="col-lg-4 offset-1">
                        <button id="button-do-not-print-slip" class="btn-size-XL button-blue border-blue"
                            (click)="onClickPrintSlip(false)">
                            <h2>{{ 'no_reciept' | translate}}</h2>
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



<!-- DETAIL SLIP INVESMENT FUND -->
<div *ngIf="checkSlipInvesment" class="text-center">
    <img class="p-0 printer_slip" src="./assets/kiatnakin/image/printer_slip.png">
    <div id="bg_slip" class="bg-slip">
        <img class="p-0 kk-logo" src="./assets/kiatnakin/image/logoKKgray.png">
        <div class="col-lg-12">
            <div class="row display-3 text-left col-lg-11 offset-1 mt-5 p-0">
                ใบบันทึกรายการ
            </div>
            <div class="row display-3 text-left col-lg-11 offset-1 p-0">Transaction Record</div>

            <div [ngSwitch]="transactionType">
                <div *ngSwitchCase="'statement-casa'" class="col-lg-12 p-0 ">
                    <div style="overflow-y: auto">
                        <div style="height: 450px;">
                            {{dataService.transaction | json}}
                        </div>
                    </div>

                </div>

                <div *ngSwitchDefault class="col-lg-12 p-0 mt-4">

                    <!-- SHOW LABEL DATE TIME || BRANCH -->
                    <div class="row">
                        <div class="display-4 text-left col-lg-3 offset-1 text-bold">วันที่ / Date</div>
                        <div class="display-4 text-right col-lg-3 text-bold">เวลา / Time</div>
                        <div class="display-4 text-right col-lg-4 text-bold">ชื่อสาขา / Branch Name</div>
                    </div>

                    <!-- SHOW DETAIL DATE TIME || BRANCH -->
                    <div class="row">
                        <div class="display-4 text-left col-lg-3 offset-1">
                            {{dataService.transaction.transactionDateTime.day}}</div>
                        <div class="display-4 text-center col-lg-4">{{dataService.transaction.transactionDateTime.time}}
                        </div>
                        <div class="display-4 text-right col-lg-3">{{branchName}}</div>
                    </div>

                    <!-- SHOW LABEL REFERENCE NO || TRANSACTION TYPE -->
                    <div class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">เลขที่อ้างอิง / Reference No.</div>
                        <div class="display-4 text-right col-lg-5 text-bold">ประเภทรายการ/Transaction Type</div>
                    </div>

                    <!-- SHOW DETAIL REFERENCE NO || TRANSACTION TYPE -->
                    <div class="row">
                        <div class="display-4 text-left col-lg-5 offset-1">{{dataService.transaction.referenceNo}}</div>
                        <div class="display-4 text-right col-lg-5">{{transactionType}}</div>
                    </div>

                    <!-- SHOW LABEL UNITHOLDER -->
                    <div class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">เลขที่ผู้ถือหน่วย/Unitholder No.
                        </div>
                        <div class="display-4 text-right col-lg-5 text-bold">ชื่อผู้ถือหน่วย/Unitholder</div>
                    </div>

                    <!-- SHOW DETAIL UNITHOLDER -->
                    <div class="row">
                        <div class="display-4 text-left col-lg-5 offset-1">
                            {{dataService.transaction.unitHolder.unitHolderId}}</div>
                        <div class="display-4 text-right col-lg-5">
                            {{dataService.transaction.unitHolder.unitHolderName}}</div>
                    </div>

                    <!-- SHOW LABEL BANK ACCOUNT TO FUND -->
                    <div class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">จาก / From</div>
                        <div class="display-4 text-right col-lg-5 text-bold">ไปยัง / To</div>
                    </div>

                    <!-- SHOW DETAIL PURCHASE BANK ACCOUNT TO FUND -->
                    <div class="row" *ngIf=" transactionType === 'Purchase'">
                        <div class="display-4 text-left col-lg-5 offset-1">
                            {{dataService.transaction.from.accountNumber}}
                        </div>
                        <div class="display-4 text-right col-lg-5">{{dataService.transaction.fundCode}}</div>
                    </div>

                    <!-- SHOW DETAIL PURCHASE BANK ACCOUNT TO FUND -->
                    <div class="row" *ngIf="transactionCancel">
                        <div *ngIf="dataService.transaction.transType === 'Switch'"
                            class="display-4 text-left col-lg-5 offset-1">
                            {{dataService.transaction.fundCode}}
                        </div>
                        <div *ngIf="dataService.transaction.transType === 'Switch'"
                            class="display-4 text-right col-lg-5">
                            {{dataService.transaction.toFundCode}}
                        </div>
                        <div *ngIf="dataService.transaction.transType === 'Redeem'"
                            class="display-4 text-left col-lg-5 offset-1">
                            {{dataService.transaction.fundCode}}
                        </div>
                        <div *ngIf="dataService.transaction.transType === 'Redeem'"
                            class="display-4 text-right col-lg-5">
                            {{dataService.transaction.from.accountNumber}}
                        </div>
                        <div *ngIf="dataService.transaction.transType === 'Purchase'"
                            class="display-4 text-left col-lg-5 offset-1">
                            {{dataService.transaction.from.accountNumber}}
                        </div>
                        <div *ngIf="dataService.transaction.transType === 'Purchase'"
                            class="display-4 text-right col-lg-5">
                            {{dataService.transaction.fundCode}}
                        </div>
                    </div>

                    <!-- SHOW DETAIL REDEEM FUND TO BANK ACCOUNT -->
                    <div class="row" *ngIf=" transactionType === 'REDEEM'">
                        <div class="display-4 text-left col-lg-5 offset-1">
                            {{dataService.transaction.fundCode}}
                        </div>
                        <div class="display-4 text-right col-lg-5">{{dataService.transaction.to.accountNumber}}</div>
                    </div>

                    <!-- SHOW DETAIL SWITCH FUND TO BANK ACCOUNT -->
                    <div class="row" *ngIf=" transactionType === 'SWITCH'">
                        <div class="display-4 text-left col-lg-5 offset-1">
                            {{dataService.transaction.from.fundCode}}
                        </div>
                        <div class="display-4 text-right col-lg-5">{{dataService.transaction.to.fundCode}}</div>
                    </div>

                    <!-- SHOW LABEL AMOUNT FUND -->
                    <div class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">จำนวนเงิน / จำนวนหน่วย</div>
                        <div class="display-4 text-right col-lg-5 text-bold">ค่าธรรมเนียม / Fee (Baht)</div>
                    </div>

                    <div class="row">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold"> Amount (Baht/Unit)</div>
                        <div class="display-4 text-right col-lg-5 text-bold"></div>
                    </div>

                    <!-- SHOW DETAIL AMOUNT PURCHASE FUND -->
                    <div class="row" *ngIf=" transactionType === 'Purchase'">
                        <div class="display-4 text-left col-lg-5 offset-1" id="amount">
                            {{ dataService.transaction.amountFund | number:'.2-2'}} บาท
                        </div>
                        <div class="display-4 text-right col-lg-5" id="fee">
                            {{ dataService.transaction.fee.amountFund | number:'.2-2'}}
                        </div>
                    </div>

                    <!-- SHOW DETAIL AMOUNT AND UNIT CANCEL FUND -->
                    <div class="row" *ngIf="transactionCancel">
                        <div *ngIf="dataService.transaction.amountFund > '0'"
                            class="display-4 text-left col-lg-5 offset-1" id="amount">
                            {{ dataService.transaction.amountFund | number:'.2-2'}} บาท
                        </div>
                        <div *ngIf="dataService.transaction.unitFund > '0'"
                            class="display-4 text-left col-lg-5 offset-1" id="amount">
                            {{ dataService.transaction.unitFund | number:'.4-4'}} หน่วย
                        </div>
                        <div class="display-4 text-right col-lg-5" id="fee">
                            {{ dataService.transaction.fee.amountFund | number:'.2-2'}}
                        </div>
                    </div>

                    <!-- SHOW DETAIL AMOUNT REDEEM FUND -->
                    <div class="row" *ngIf=" transactionType === 'REDEEM'">
                        <div *ngIf="dataService.transaction.amountRedeem" class="display-4 text-left col-lg-5 offset-1"
                            id="amount">
                            {{ dataService.transaction.amountRedeem | number:'.2-2'}} บาท
                        </div>
                        <div *ngIf="dataService.transaction.unitRedeem" class="display-4 text-left col-lg-5 offset-1"
                            id="amount">
                            {{ dataService.transaction.unitRedeem | number:'.4-4'}} หน่วย
                        </div>
                        <div class="display-4 text-right col-lg-5" id="fee">
                            {{ dataService.transaction.fee.amountRedeem | number:'.2-2'}}
                        </div>
                    </div>

                    <!-- SHOW DETAIL AMOUNT SWICH FUND -->
                    <div class="row" *ngIf=" transactionType === 'SWITCH'">
                        <div *ngIf="dataService.transaction.amountSwich" class="display-4 text-left col-lg-5 offset-1"
                            id="amount">
                            {{ dataService.transaction.amountSwich | number:'.2-2'}} บาท
                        </div>
                        <div *ngIf="dataService.transaction.unitSwich" class="display-4 text-left col-lg-5 offset-1"
                            id="amount">
                            {{ dataService.transaction.unitSwich | number:'.4-4'}} หน่วย
                        </div>
                        <div class="display-4 text-right col-lg-5" id="fee">
                            {{ dataService.transaction.fee.amountSwich | number:'.2-2'}}
                        </div>
                    </div>

                    <!-- SHOW LABEL PURCHASE STATUS -->
                    <div class="row mt-2">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">วันที่รายการมีผล</div>
                        <div class="display-4 text-right col-lg-5 text-bold"></div>
                    </div>
                    <div class="row">
                        <div class="display-4 text-left col-lg-5 offset-1 text-bold">Effective Date</div>
                        <div class="display-4 text-right col-lg-5 text-bold">สถานะรายการ/Status</div>
                    </div>

                    <!-- SHOW DETAIL PURCHASE STATUS -->
                    <div class="row">
                        <div class="display-4 text-left col-lg-5 offset-1 ">{{dataService.transaction.effectiveDate}}
                        </div>
                        <div class="display-4 text-right col-lg-5 " id="avialable-balance">
                            {{dataService.transaction.status}}
                        </div>
                    </div>
                </div>

                <div class="mt-3 col-lg-10 offset-1" style="border-bottom: dashed 1px"></div>

                <div class="display-3 text-center col-lg-12 mt-3 text-italic" style="font-weight: bold">
                    {{ 'ต้องการพิมพ์ใบบันทึกรายการหรือไม่' }}
                </div>

                <div class="row text-center mt-3">

                    <div class="col-lg-4 offset-1">
                        <button id="printslip" class="btn-size-XL button-white text-blue border-blue"
                            (click)="printSlipInvesment(true)">
                            <h2>{{ 'yes_reciept' | translate}}</h2>
                        </button>
                    </div>

                    <div class="col-lg-4 offset-1">
                        <button id="button-do-not-print-slip" class="btn-size-XL button-blue border-blue"
                            (click)="printSlipInvesment(false)">
                            <h2>{{ 'no_reciept' | translate}}</h2>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>