<div class="container page1200">
    <div class="row text-center ">
        <div class="col-lg-12 mt-lg-5">
            <div class="mt-lg-5">
                <img src="./assets/kiatnakin/image/loading.png" height="66" width="66"/>
            </div>
            <div style="margin-top: 3%">
                <img src="https://www.wpclipart.com/signs_symbol/business/barcodes/barcode_code39.png">
            </div>
            <div style="margin-top: 3%" class="col-lg-12 mt-lg-5">
                <h2>กรุณาสแกนบาร์โค้ดด้านล่าง</h2>
            </div>
            <div class="mt-lg-5 col-lg-12">
                <button (click)="onScanbarcode()"> Next</button>
            </div>
            <div class="space-bottom-10">&nbsp;</div>
        </div>
    </div>
</div>


<img src="./assets/kiatnakin/image/back_arrow.png" class="app-back-bottom" id="back" (click)="onClickBack()"/>